# .gitignore

*~
*.o
*.so
*.a

# GCC dependency files
*.d

# Autoconf stuff
configure
config.cache
config.h*
config.status
autom4te.cache
config.log

# Autoconf-generated Makefiles
Makefile
*.mk

# Debian stuff
*.orig.tar.gz
*.deb

# STC output
*.tic

# Tcl packages
pkgIndex.tcl

# Scheduler output directory file
turbine-directory.txt

# Fortran output
*.mod

# SWIG output
*_wrap.c

# Cobalt junk
*.output
*.error
*.cobaltlog

# Eclipse project data
.project
.cproject
.autotools

# Auto-filtered Debian changelogs
changelog

# The Swift/T Debian distribution
swift-t-debs-*.tgz
