[submodule "dev"]
	path = dev
	url = git@github.com:swift-lang/exm-dev.git
[submodule "c-utils"]
	path = c-utils
	url = git@github.com:swift-lang/exm-c-utils.git
[submodule "turbine"]
	path = turbine
	url = git@github.com:swift-lang/exm-turbine.git
[submodule "stc"]
	path = stc
	url = git@github.com:swift-lang/exm-stc.git
[submodule "lb"]
	path = lb
	url = git@github.com:swift-lang/exm-lb.git
