[submodule "dev"]
	path = dev
	url = https://github.com/swift-lang/exm-dev.git
[submodule "c-utils"]
	path = c-utils
	url = https://github.com/swift-lang/exm-c-utils.git
[submodule "turbine"]
	path = turbine
	url = https://github.com/swift-lang/exm-turbine.git
[submodule "stc"]
	path = stc
	url = https://github.com/swift-lang/exm-stc.git
