# .gitignore

*~
*.o
*.so
*.a
*.out

# GCC dependency files
*.d

# Tags
TAGS

# Autoconf stuff
configure
config.cache
config.h*
config.status
autom4te.cache
config.guess
config.log
config.sub

# Autoconf-generated Makefiles
Makefile
*.mk

# Debian stuff
*.orig.tar.gz
*.deb

# STC output
*.tic

# Tcl packages
pkgIndex.tcl

# Scheduler output directory file
turbine-directory.txt

# Fortran output
*.mod

# SWIG output
*_wrap.c

# Cobalt junk
*.output
*.error
*.cobaltlog

# VSCode project data
.vscode

# Eclipse project data
.project
.cproject
.autotools
*.prefs
*.settings.xml

# Auto-filtered Debian changelogs
changelog

# The Swift/T Debian distribution
swift-t-debs-*.tgz
