Source: turbine
Section: unknown
Priority: extra
Maintainer: Justin M Wozniak <wozniak@mcs.anl.gov>
Build-Depends:
Standards-Version: 3.9.4
Homepage: http://swift-lang.org
#Vcs-Git: git@github.com:swift-lang/swift-t.git

Package: turbine
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mpich (>= 3.0), tcl (>= 8.5), zsh (>= 5.0), exmcutils-dev (>= 0.5.1), adlbx-dev (>= 0.7.1)
Description: High-Performance MPI-based execution engine for Swift
    High-Performance MPI-based execution engine for Swift
