Source: turbine
Section: unknown
Priority: extra
Maintainer: Yadu Nand <yadunand@uchicago.edu>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, c-utils (>= 0.6.0), adlb (>= 0.6.0), mpich2 (>= 1.4.1)
Standards-Version: 3.9.4
Homepage: http://sites.google.com/site/exmcomputing


Package: turbine
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mpich2 (>= 1.4.1), c-utils (>= 0.6.0), adlb (>= 0.6.0)
Description: High-Performance MPI-based execution engine for Swift
    High-Performance MPI-based execution engine for Swift
